$font1: "Poppins", serif;

$main_color: #043988;

$default_color: #d3d3d3;

$primary_color: #6222cc;
$primary_color_lt: lighten(#6222cc, 50);
$primary_color_hover:  lighten(#6222cc, 10);

$secondary_color: #29CFCF;

$dark1: #04000b;





