# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Dependency directories
bower_components/


/# .env files for sensitive data
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log
*.log.*

# Operating system files
.DS_Store # macOS
Thumbs.db # Windows

# IDE and editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# NPM package lock files (optional, if you use package-lock.json/yarn.lock)
package-lock.json
yarn.lock



# Style files
*.css.map


# .eslintcache (if you use ESLint)
.eslintcache

# Temporary files
*.tmp
*.swp
*.swo

# Front-end frameworks (React, Angular, Vue, etc.)
/node_modules/

# TypeScri
