@keyframes spinAround {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(359deg)
  }
}

.dc-btn {
  display: inline-flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  font-family: $font1;
  vertical-align: middle;
  color: #fff;
  font-weight: 700;
  text-align: center;
  user-select: none;
  background-color: transparent;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 1;

  border-radius: 8px;
  text-decoration: none;
  position: relative;
  border: 1px solid transparent;
  outline: 0;

  @include media-breakpoint-down(lg) {
    padding: responsive(lg, 16px) responsive(lg, 24px);
    font-size: responsive(lg, 14px);
  }

  @media screen and (max-width: 480px) {
    padding: 11px 15px;
    font-size: 11px;
  }

  &_primary {
    color: #4D4D4D;

    @include fz(16px, 14px, null, 13px, 16px, null, 'font-size');

    @include fz(16px, xl, lg, md, xl, null, 'padding-top');
    @include fz(16px, xl, lg, md, xl, null, 'padding-bottom');

    border-radius: 24px;

    @include fz(62px, xl, lg, md, xl, null, 'padding-left');
    @include fz(62px, xl, lg, md, xl, null, 'padding-right');

    @include media-breakpoint-up(xxl) {
      font-size: 16/16+em;
      padding-top: 16/16+em;
      padding-bottom: 16/16+em;
      padding-left: 62/16+em;
      padding-right: 62/16+em;
    }

    background-color: $primary_color;
    border-color: $primary_color;
    transition: all .3s ease;


    &:hover {
      background-color: darken($primary_color, 9);
      border-color: darken($primary_color, 9);
      color: var(--text-color);
    }
  }

  &_secondary {
    color: #fff;
    background-color: $secondary_color;
    border-color: $secondary_color;
    transition: all .2s ease;

    &:hover {
      background-color: darken($secondary_color, 5);
      border-color: darken($secondary_color, 5);
    }
  }

  &_outline-primary {
    border-color: $orange_color;
    color: $orange_color;
    transition: all .2s ease;

    &:hover {
      background-color: $orange_color;
      color: #fff;
    }
  }

  &_outline-secondary {
    border-color: $primary_color;
    color: $primary_color;
    transition: all .2s ease;

    &:hover {
      background-color: $primary_color;
      color: #fff;
    }
  }

  &_gradient {
    overflow: hidden;
    color: #fff;
    border: none;
    background-color: #3f70d5;
    background-image: linear-gradient(to right, #3f70d5 0%, #7fbc51 100%);
    background-repeat: repeat-y;
    background-position: 150px 0;
    transition: background-position .2s ease;

    &:hover {
      background-position: 0px 0;
    }
  }

  &_loading {
    color: transparent !important;

    &:after {
      animation: spinAround .5s infinite linear;
      border: 3px solid #dbdbdb;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 16px;
      position: relative;
      width: 16px;

      position: absolute;
      left: calc(50% - (16px / 2));
      top: calc(50% - (16px / 2));
      position: absolute !important;
    }
  }

  &:disabled {
    background-color: #ddd !important;
    border-color: #ddd !important;
    cursor: default !important;
    box-shadow: none !important;
  }

  &_lg {
    padding: 10px 25px;
    font-size: 16px;
  }

  &_sm {
    padding: 5px 15px;
    font-size: 12px;
  }

  &_block {
    display: flex;
    width: 100%;
  }

  &_shadow {
    box-shadow: 0px 10px 15px 0px rgba(27, 95, 193, 0.19);
  }
}